*{
    margin: 0px;
    padding: 0px;
}

#navigon{
    width: 100%;
    height: auto
}
#navibar{
    width: 100%;
    height: 80px;
    background-color: cadetblue;
    position: relative;
}
#navi-menu{
    width: 980px;
    margin: 0 auto;
    position: relative;
    bottom: -26px;
}
#logo-pic{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
#navi-menu ul{
    list-style: none;
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-size: 14px;
    font-family: 宋体;

}
/*#logo-pic ul li{*/
    /*display: inline;*/
    /*margin-right: 28px;*/
/*}*/
#navi-menu ul li{
    display: inline;
    margin-right: 28px;
}
#github-pic{
    position: absolute;/*定位到父级navibar的右下角*/
    right: 10px;
    top: 46px;
}


#navigon-pic-wrap {
    position: relative;
}
#navigon-pic-wrap-text {
    background-color:white;
    width: 300px;
    padding: 10px 10px 30px 10px;
    position: absolute;
    right: 150px;
    bottom: 0px;
}
#navigon-pic-wrap-text h1{
    font-size: 14px;
}
#navigon-pic-wrap-text p{
    font-size: 12px;
    line-height: 150%;
    margin-top: 12px;
}
#navigon-pic-wrap img{
    width: 100%;
    display:block;
}
/*三个图片的内容上半部分*/
#all-picture{
    width: 980px;
    height: 400px;
    margin:0 auto;
    padding-top: 10px;
}
#all-picture img{
    width: 300px;
    height: 180px;
}
#all-picture p{
    width: 250px;
    font-size: 12px;
    line-height: 170%;
    padding: 15px 30px 25px 30px;

}

.picture-wrap{
    width: 300px;
    background-color: white;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
 #all-picture div:first-child{
     margin-left:0px;
 }
/*自我介绍部分*/
#myphoto{
    width: 160px;
    height: 160px;
    margin: 0px auto;
    position: relative;
    top: -50px;
}
#myphoto img{
    width: 160px;
    height: 160px;
    border-radius:80px ;
}
#content-introduce h2{
    font-size: 20px;
    font-family: "century Gothic";
    text-align: center;
    color: black;
    /*margin-top: 50px;与头像相距50px*/

}
#content-introduce p{
    width: 600px;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    margin-top: 50px;
    /*white-space: pre;*/
}
#container{
    width: 100%;
    height: 800px;
}
#content-picture-wrap{
    width: 100%
    height: 400px;
    background-color:gainsboro ;
}
#content-introduce{
    width: 100%;
    height: 400px;
    background-color: aliceblue;
}
#foot{
    width: 100%;
    height: 280px;
    background-color: black;
}
/*foot部分*/
#foot-nav{
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid grey 1px;
}
#foot-nav li{
    display: inline;
}
#link-wrapper{
    width: 980px;
    padding-top: 20px;
    margin: 0 auto;
}
.friend-link{
    float: left;
    margin-left: 118px;
}
.friend-link-content{
    text-align: center;
}
.friend-link-content li{
    list-style: none;
}
#version p{
    text-align: center;
}
#version img{
    display: block;
    margin: 0 auto;
}
#foot-nav-wrap,#version{
    color: white;
}
h5{
    color: white;
}
link{
    color: white;

}
li a{
    color: white;
}


/*blog-web*/

/*content部分*/
#blog-content-container-wrap{
    background-color:gainsboro;
    width: 100%;
    height: 900px;
}
#blog-content-container{
    margin: 0 auto;
    width: 980px;
}
#content-left{
    /*background-color: white;*/
    width: 750px;
    float: left;
}

#content-right{
    /*background-color: white;*/
    width: 220px;
    /*height: 600px;*/
    float: right;
}
.content-left-text-wrap{
    /*border: solid red 1px;*/
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.content-left-text-wrap h5{
    font-size: 16px;
    color: darkorchid;
    padding-left: 10px;
    padding-top: 10px;
}
.content-left-text-wrap h6{
    font-size: 12px;
    color: #666666;
    padding-left: 10px;
    padding-top: 10px;
}
.content-left-text-wrap p{
    font-size: 11px;
    /*font-family:"宋体";*/
    padding: 10px;
}

#content-right-search{
    height: 80px;
    /*border: solid red 1px;*/
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 42px;
    padding-left: 8px;

}
#content-right-catalogue{
    /*height: 200px;*/
    /*border: solid red 1px;*/
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}
#content-right-calendar{
    height: 238px;
    /*border: solid red 1px;*/
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}
#content-right-tags{
    height: 197px;
    /*border: solid red 1px;*/
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-left-text-flags{
    width: 53px;
    height: 80px;
    position: absolute;
    left: -53px;
    top: 23px;
}

.content-left-text-flags ul{
    list-style: none;
}
.content-left-text-flags ul li{
    padding: 10px;
}
.content-left-text-flags ul li:first-child{
    background-color: #3F104A;
    color: white;
}
.content-left-text-flags ul li:last-child{
    background-color:#9447A8;
    color: white;
}
/*#content-right-catalogue td{*/
    /*padding: 17px;*/
/*}*/
/*#content-right-catalogue tr{*/
    /*margin-bottom: 2px;*/
/*}*/

#content-right-catalogue li{
    padding: 17px;
    border-bottom: solid #DADADA 1px;
    margin-bottom: 4px;
    border-left: solid #D7B8E0;

}

#content-right-catalogue li:hover{
    border-left-color: #3E1C47;

}

#searchBar{
    /*background-color: #ffaa76;*/
    margin: 0 auto;
}
#searchBar img{
    width: 40px;
    height: 39px;
    float: left;
}
#searchBar input{
    width: 120px;
    height: 35px;
    float: left;
}

#glass-pic{
    background-color: #D5D5D5;
}












